<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ocbctest.auth">
    <application>
        <activity android:name=".ActivityLogin" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ActivityRegister" android:theme="@style/AppTheme.NoActionBar"/>
    </application>
</manifest>